---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body id="posts" class="inner-post-page">

    <div class="block-left">
      <div class="content">
        <div class="post-title-section">
          <div class="section-line"></div>
          <h1 class="section-title">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          <div class="section-line reverse"><a href="/posts.html">Back to Contents</a> <em>/</em></div>
        </div>
      </div>
    </div>

    <div class="block-right">
      <div class="inner-post content">
        {{ content | markdownify }}
        <br>
        {% include page-pagination.html %}
      </div>
    </div>
</body>
</html>
